* {
	margin: 0;
	padding: 0;
}
html {
    background-color: rgb(239, 239, 177);
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}
header {
    background-image: linear-gradient(
	    30deg, black 0%, #232047 30%, black 50%, #232047 80%, black 100%);
    width: 100%;
}
header h1 {
    text-align: center;
    font-size: 3em;
    color: white;
    padding: 1em 0;
}
main {
    text-align: center;
}
main p {
    width: 95%;
    font-size: 2em;
    font-weight: 900;
    margin: 0.5em auto;
}
main form {
    width: 80%;
    margin: 0 auto;
    height: 2em;
}
main div {
    width: 410px;
    height: 100%;
    margin: 0 auto;
}
main input {
    width: 300px;
    display: block;
    font-size: 1.5em;
    border: 1px solid black;
    float: left;
    padding: 0 10px;
    color: black;
    background-color: white;
}
main button {
    width: 85px;
    display: block;
    font-size: 1.5em;
    float: right;
    padding: 0 5px;
    border: 1px solid black;
    color: black;
    background-color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
main button:active {
    background-color: rgb(0, 0, 162);
}
aside {
    position: relative;
    width: 80%;
    height: 330px;
    margin: 10px auto;
}
aside #fig1 {
    position: absolute;
    top: 20px;
    left: 100px;
    display: none;
}
aside #fig2 {
    position: absolute;
    top: 20px;
    right: 100px;
    display: none;
}
aside figcaption {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}
@media only screen and (max-width: 1372px) {
	main p {
        font-size: 1.75em;
    }
}
@media only screen and (max-width: 1208px) {
	header h1 {
        font-size: 2.5em;
    }
    main p {
        font-size: 1.5em;
    }
    aside {
        height: 280px;
    }
    aside #creator {
        width: 250px;
        height: 250px;
    }
    aside #presenter {
        width: 250px;
        height: 250px;
    }
}
@media only screen and (max-width: 1038px) {
	header h1 {
        font-size: 2.2em;
    }
    main p {
        font-size: 1.2em;
    }
    main form {
        height: 1.75em;
    }
    main input {
        font-size: 1.25em;
    }
    main button {
        font-size: 1.25em;
    }
    aside {
        height: 230px;
    }
    aside #creator {
        width: 200px;
        height: 200px;
    }
    aside #presenter {
        width: 200px;
        height: 200px;
    }
}
@media only screen and (max-width: 831px) {
    header h1 {
        font-size: 2em;
    }
    main p {
        font-size: 1em;
    }
    aside #fig1 {
        top: 15px;
        left: 50px;
    }
    aside #fig2 {
        top: 15px;
        right: 50px;
    }
}
@media only screen and (max-width: 705px) {
    header h1 {
        font-size: 1.75em;
    }
    main form {
        height: 1.5em;
    }
    main input {
        font-size: 1em;
    }
    main button {
        font-size: 1em;
    }
    aside {
        height: 205px;
    }
    aside #fig1 {
        top: 12px;
        left: 35px;
    }
    aside #fig2 {
        top: 12px;
        right: 35px;
    }
    aside #creator {
        width: 175px;
        height: 175px;
    }
    aside #presenter {
        width: 175px;
        height: 175px;
    }
}
@media only screen and (max-width: 630px) {
    header h1 {
        font-size: 1.6em;
    }
    aside {
        height: 190px;
    }
    aside #fig1 {
        top: 10px;
        left: 25px;
    }
    aside #fig2 {
        top: 10px;
        right: 25px;
    }
    aside #creator {
        width: 160px;
        height: 160px;
    }
    aside #presenter {
        width: 160px;
        height: 160px;
    }
}
@media only screen and (max-width: 572px) {
    header h1 {
        font-size: 1.55em;
    }
    main p {
        font-size: .95em;
    }
    aside {
        height: 180px;
    }
    aside #fig1 {
        top: 8px;
        left: 20px;
    }
    aside #fig2 {
        top: 8px;
        right: 20px;
    }
    aside #creator {
        width: 150px;
        height: 150px;
    }
    aside #presenter {
        width: 150px;
        height: 150px;
    }
    aside figcaption {
        font-size: 1.25em;
    }
}
@media only screen and (max-width: 542px) {
    header h1 {
        font-size: 1.5em;
    }
    main p {
        font-size: .9em;
    }
    main div {
        width: 380px;
    }
    main input {
        width: 270px;
    }
}
@media only screen and (max-width: 515px) {
    header h1 {
        font-size: 1.45em;
    }
    main p {
        font-size: .85em;
    }
    main div {
        width: 350px;
    }
    main input {
        width: 240px;
    }
}
@media only screen and (max-width: 500px) {
    header h1 {
        font-size: 1.4em;
    }
    main p {
        font-size: 1em;
    }
    aside {
        height: 170px;
    }
    aside #fig1 {
        top: 7px;
        left: 10px;
    }
    aside #fig2 {
        top: 7px;
        right: 10px;
    }
    aside #creator {
        width: 140px;
        height: 140px;
    }
    aside #presenter {
        width: 140px;
        height: 140px;
    }
    aside figcaption {
        font-size: 1.15em;
    }
}
@media only screen and (max-width: 485px) {
    header h1 {
        font-size: 1.37em;
    }
}